mkdocs-material==9.*
mkdocs-awesome-pages-plugin==2.9.*
mkdocs-git-revision-date-localized-plugin==1.2.*
mdx_truly_sane_lists==1.3
mkdocs-glightbox==0.3.4
mkdocs-htmlproofer-plugin @ git+https://github.com/manuzhang/mkdocs-htmlproofer-plugin@d0add3fec23339b5f74c97257510988546d12b30
